@solidBorder: medium solid @color6;
@thinBorder: thin dotted @color9;

/** Basic Table CSS. Style headers, rows, and caption */
table {
	border-collapse: collapse;
	th, td {
		padding: 0.5em;
		border: @thinBorder;
		text-align: center;
	}
	thead {
		th {
			border-bottom: @solidBorder;
			color: @color1;
			background-color: @color4;
		}
	}
	tbody {
		tr {
			background-color: @color10;
			&:hover {
				td {
					color: white;
					background-color: @color8;
				}
			}
			&.alt {
				background-color: darken(@color1, 10);
				background-color: @color9;
			}
		}
	}
	caption {
		caption-side: bottom;
		text-align: right;
		font-style: italic;
	}
}
/** A summary table has th's within the tbody so we have to add in 
 *  thicker lines to distinguish them from the data.
 */
table.summary {
	thead {
		th {
			border: none;
			border-bottom: @solidBorder;
			border-right: @solidBorder;
			background-color: transparent;
		}
		th+th {
			border-right: @thinBorder;
			border-top: @thinBorder;
			color: @color1;
			background-color: @color4;
		}
	}
	tbody {
		tr {
			th  {
				border-right: @solidBorder;
				background-color: @color1;
			}
		}
	}
}

/** Need to drop the color on all but the first th */
table.manage {
	thead {
		th + th {
			background-color: transparent;
			border-top: none;
			border-right: none;
		}
	}
}