@import common.page
@(
	expenseToChange: Expense,
	possibleGroups: Seq[ExpenseGroup],
	form: Form[forms.ExpenseForms.ChangeGroupForm]
)(implicit request: RequestHeader, notifications: List[TemplateNotification] = Nil)

@page("Change Expense's Group") {
	@helper.form(controller.routes.ExpenseController.changeExpensesGroup()) {
		@helper.CSRF.formField
		@helper.inputText(form("expenseId"),
			'type -> "hidden",
			'_showConstraints -> false,
			'_label -> ""
		)
		<p>
			Change the expense with name "@expenseToChange.name" to be in which group?
			@helper.select(form("groupId"), 
				options = possibleGroups.map(g => (g.groupId.toString, g.name.capitalize)),
				args = constraintsToArgs(form("groupId"),
					'_label -> "New Group?",
					'_showConstraints -> false
				):_*
			)
		</p>
		<input type="submit" value="Update">
	}
}