@import common.page
@import utils._
@(expenses: List[Expense])(implicit lang: Lang, notifications: List[TemplateNotification] = Nil)

@page("Current Expenses") {
	<table>
		<thead>
			<th>Date Occured</th>
			<th>Name</th>
			<th>Amount Spent</th>
		</thead>
		<tbody>
			<tr>
				<th>Total:</th>
				<th colspan="2">$@DisplayUtils.centsToDollars(expenses.map(_.amountInCents).sum)</th>
			</tr>
			@if(expenses.isEmpty) {
				<tr>
					<td colspan="3">No expenses exist yet</td>
				</tr>
			}
			@expenses.zipWithIndex.map { case (expense, idx) =>
				<tr @if(idx % 2 == 0){ class="alt" }>
					<td>@TimeUtils.epochSecondsToHtml5DateString(expense.dateOccured)</td>
					<td>@expense.name</td>
					<td>$@DisplayUtils.centsToDollars(expense.amountInCents)</td>
				</tr>
			}
		</tbody>
	</table>
}