@import common.page
@import utils._
@(expensesByGroup: Map[ExpenseGroup, List[Expense]])(implicit lang: Lang, request: RequestHeader, notifications: List[TemplateNotification] = Nil)

@page("Expenses summary") {
	<table class="summary" summary="This table shows expenses broken down by which group they are in">
		@* TODO: Once we update to list by date, make this use date instead of 'current' *@
		<caption>Current expense's by group</caption>
		<thead>
			<th scope="col"></th>
			<th scope="col">Date Occured</th>
			<th scope="col">Name</th>
			<th scope="col">Amount Spent</th>
		</thead>
		@if(expensesByGroup.isEmpty) {
		<tbody>
			<tr>
				<th scope="row" style="visibility:hidden"></th>
				<td colspan="3">No expense groups or expenses</td>
			</tr>
		</tbody>
		}
		@expensesByGroup.map { case (group, expenses) =>
		<tbody>
			@if(expenses.isEmpty) {
				<tr>
					<th scope="row">@group.name</th>
					<td colspan="3">No expenses exist yet</td>
				</tr>
			}
			@expenses.zipWithIndex.map { case (expense, idx) =>
				<tr @if(idx % 2 == 0) {class="alt"}>
					@if(idx == 0) {
						<th scope="row" rowspan="@{expenses.size}">@group.name</th>
					}
					<td>@TimeUtils.epochSecondsToHtml5DateString(expense.dateOccured)</td>
					<td>@expense.name</td>
					<td>$@DisplayUtils.centsToDollars(expense.amountInCents)</td>
					<td>
						<div class="change group">
						
						@helper.form(controller.routes.ExpenseController.changeExpensesGroup()) {
							@helper.CSRF.formField
							<input type="hidden" name="expenseId" value="@expense.expenseId">
							@defining(
								forms.ExpenseForms.changeGroupForm.bind(
									Map("expenseId" -> expense.expenseId.toString, "groupId" -> group.groupId.toString)
								).discardingErrors
							) { formData =>
								@helper.select(formData("groupId"), 
									options = expensesByGroup.keys.toList.map(g => (g.groupId.toString, g.name)),
									args = constraintsToArgs(formData("groupId"),
										'_label -> "Change Group?",
										'_showConstraints -> false
									):_*
								)
							}
							<input type="submit" value="Update">
						}
						</div>
					</td>
				</tr>
			}
		</tbody>
		}
	</table>
}