@(elements: helper.FieldElements)

@isRequired = @{
	elements.infos(elements.lang).exists(_ == Messages("constraint.required"))
}

@wasRequired = @{
	elements.errors(elements.lang).exists(_ == Messages("error.required"))
}

@isHidden = @{
	elements.args.get('_hidden).map(_ == true).fold(false)(identity)
}

<div class="field @if(elements.hasErrors){error} @if(isHidden){hidden}">
	<label for="@elements.id">
		@elements.label(elements.lang).toString.capitalize
		@if(isRequired) {
			<span class="field-required">*</span>
		}
	</label>
	<div class="input @if(wasRequired){required-error}">
		<div class="errors">
			@elements.errors(elements.lang).filterNot(_ == Messages("error.required")).map { error =>
			<span class="error">@error</span>
			}
		</div>
		@elements.input
		<div class="infos">
			@elements.infos(elements.lang).filterNot(_ == Messages("constraint.required")).map { info =>
			<span class="info">
				@info
			</span>
			}
		</div>
	</div>
</div>