@()
<nav id="navigation">
	<ul>
		<li>
			<a href="@controller.routes.ExpenseController.summarizeWeeksExpenses">This week summary</a>
		</li>
		<li>
			<a href="@controller.routes.ExpenseController.listCurrentExpenses">This week's expenses</a>
		</li>
		<li>
			<a href="@controller.routes.ExpenseController.showCreateExpenseForm">Create Expense</a>
		</li>
		<li>
			<a href="@controller.routes.ExpenseController.listExpenseGroups">
				Manage Groups
			</a>
		</li>
		<li>
			<a href="@controller.routes.ExpenseController.showWeekSelection">
				See other weeks
			</a>
		</li>
	</ul>
</nav>