@(title: String = "Accountable")(content: Html)(implicit lang: Lang, notifications: List[TemplateNotification] = Nil)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>@title</title>
	</head>
	<body>
		@navigation()
		<section id="notifications">
			<ul>
				@notifications.foreach {
					case TemplateNotification(msgKey, ErrorNotification) => {<li class="error">@Messages(msgKey)</li>}
					case TemplateNotification(msgKey, InfoNotification) => {<li class="info">@Messages(msgKey)</li>}
				}
			</ul>
		</section>
		<section>
		@content
		</section>
	</body>
</html>